<app-header></app-header>
<main>
    <h1>Dashboard Ford</h1>
    <div class="d-flex">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Veículo</h5>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecione</option>
                    <option value="r">Ranger</option>
                    <option value="m">Mustang</option>
                    <option value="t">Territory</option>
                    <option value="b">Bronco Sport</option>
                </select>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total de Vendas</h5>
                <h4 class="card-text">1500</h4>
                <p class="card-text">Und.</p>
                
            </div>
        </div>
    </div>
</main>
