<form>
    <div class="form-floating">
        <input type="text" id="login" class="form-control" placeholder="Digite seu username aqui" required>
        <label for="login">Login</label>
    </div>
    <div class="form-floating">
        <input type="password" id="password" class="form-control" placeholder="Digite sua senha aqui" required>
        <label for="password">Senha</label>
    </div>
    <p id="message-error">Nome de usuário e/ou senha incorreto(s)</p>
    <button type="button" (click)="submit($event)">Conectar</button>
</form>